.title {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 70px;
  font-weight: 800;
  line-height: 81px; }
  @media screen and (max-width: 576px) {
    .title {
      font-size: 45px;
      line-height: 55px; } }

.subtitle {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 26px;
  font-weight: bold;
  line-height: 36px; }
  @media screen and (max-width: 576px) {
    .subtitle {
      font-size: 26px;
      line-height: 33px;
      font-weight: 300; } }

.title-secondary {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 45px;
  font-weight: 800;
  line-height: 57px; }
  .title-secondary.white {
    color: #ffffff;
    text-align: center; }
  @media screen and (max-width: 576px) {
    .title-secondary {
      font-weight: 600;
      font-size: 38px;
      line-height: 45px; } }

p,
li {
  color: #000000;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 30px; }

.copyright {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 31px; }

.button {
  border: none;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding: 15px 40px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #ff7200;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease; }
  .button.purple {
    background-color: #3c2099; }
    .button.purple:hover {
      background-color: #361d88;
      color: white; }
  .button.orange {
    background: linear-gradient(90deg, #ff7200 0%, #fc9500 100%);
    background-color: #ff7200; }
    .button.orange:hover {
      color: white;
      background: none;
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
      background-color: #dd6401 !important; }
  @media screen and (max-width: 576px) {
    .button {
      width: 100%; } }

#form {
  font-family: 'Open Sans';
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.11); }
  #form .form-title {
    letter-spacing: 1.71px;
    line-height: 52px;
    color: #000000;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase; }
  #form .field {
    position: relative; }
    #form .field > label {
      position: absolute;
      z-index: 1;
      top: -15px;
      left: 10px;
      background-color: inherit;
      background: linear-gradient(to bottom, #ffffff 50%, #f9f9f9 50%);
      padding: 0 4px; }
  #form input::placeholder {
    color: #a0a2a6;
    font-size: 16px;
    font-style: italic;
    line-height: 22px; }
  #form select {
    color: #a0a2a6;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    position: relaive; }
  #form input[type='submit'] {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 96%;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #ff7200 0%, #fc9500 100%);
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    background-color: #ff7200; }
  #form input[type='submit']:hover {
    transition: box-shadow 350ms ease 0s, transform 350ms ease 0s, background-color 350ms ease 0s;
    transform: translateY(-10px);
    box-shadow: 0px 12px 21px -7px #ebb0af;
    color: white;
    text-decoration: none;
    background: none;
    background-color: #dd6401 !important; }
  #form input[type='text'],
  #form input[type='email'],
  #form input[type='tel'],
  #form select {
    margin-bottom: 27px;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 19px;
    border: 2px solid #6e6e6e;
    background-color: #f9f9f9; }
  #form select {
    /* make arrow and background */
    /* styling and reset */
    /* reset */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none; }
  #form .hs-fieldtype-select .input::after {
    position: absolute;
    content: '';
    display: block;
    right: 25px;
    top: 50%;
    transform: rotateY(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #0f1a27; }
  #form label {
    color: #000000;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 31px;
    background-color: transparent; }
  #form input.error.invalid {
    border: 1px solid red; }
  #form .hs-error-msgs {
    list-style-type: none;
    color: red;
    padding: 0; }
    #form .hs-error-msgs * {
      font-size: 13px;
      color: inherit; }
  #form fieldset {
    max-width: 100%; }
  #form .small-text {
    height: 14px;
    width: 158px;
    color: #7e7f81;
    font-family: Avenir;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px; }
    #form .small-text a {
      color: #7e7f81;
      text-decoration: underline;
      font-weight: inherit; }

@media (max-width: 480px) {
  #form input[type='submit'] {
    padding: 8px 0;
    width: 100%; } }

.machine-card {
  margin-bottom: 23px;
  border: none;
  border-radius: 0;
  height: 100%;
  box-shadow: 0 0 14px 2px rgba(211, 211, 211, 0.5); }
  .machine-card h3 {
    text-transform: uppercase;
    line-height: 33px;
    margin-bottom: 15px; }
  .machine-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .machine-card .machine-card-image {
    max-width: 90%;
    height: auto;
    display: block;
    margin: auto; }
  .machine-card .machine-description p {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 0;
    margin-top: 0; }
  .machine-card .machine-details-container {
    padding-right: 80px; }

@media (max-width: 480px) {
  .machine-card .machine-details-container {
    padding-right: 15px !important;
    padding-left: 15px !important; } }

.machine-row {
  margin-bottom: 20px; }

.counter {
  background: url("https://cdn2.hubspot.net/hubfs/3019581/promobar.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  font-family: open sans, sans-serif;
  padding: 10px 0;
  font-weight: 800; }
  .counter .timer-div {
    text-align: center; }
    .counter .timer-div div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 5px; }
      .counter .timer-div div .number {
        font-size: 19px; }
      .counter .timer-div div .descriptor {
        font-size: 11px; }
    .counter .timer-div div > span {
      display: block; }
    .counter .timer-div * {
      color: #122C43; }

#hurry {
  color: #122C43;
  font-size: 26px; }

#memorial-day-sale-text {
  font-size: 19px;
  letter-spacing: 3px;
  text-transform: uppercase; }

@media (max-width: 480px) {
  #memorial-day-sale-text {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0; }
  #hurry {
    font-size: 21px; } }

.video-thumbnail {
  position: relative; }

.play-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.video-play-button {
  width: 32px;
  height: 44px;
  padding: 18px 20px 18px 28px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: #FF7313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  z-index: 10; }

.video-play-button:hover {
  cursor: pointer; }

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #FF7313;
  border-radius: 200%;
  animation: pulse-border 2500ms ease-out infinite; }

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

#video-modal .modal-content {
  background-color: transparent;
  border: none;
  padding: 0; }

#video-modal .modal-header {
  border-bottom: none; }
  #video-modal .modal-header * {
    color: white;
    opacity: 1; }

#video-modal .modal-dialog .modal-body {
  padding-top: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  #video-modal .modal-dialog .modal-body iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

body {
  background: #fc9500;
  line-height: 30px;
  background-image: url("https://cdn2.hubspot.net/hubfs/3019581/Free%20Patch%20Lead%20Magnet/white-pattern-bg.png");
  background-position: center;
  background-size: contain;
  margin: 0 auto; }

@media screen and (max-width: 576px) {
  #header .logo {
    width: 163px;
    margin: 0 auto; } }

@media screen and (max-width: 576px) {
  #hero .img-container {
    width: 218px;
    margin: 0 auto; } }

.footer {
  background-image: url("https://cdn2.hubspot.net/hubfs/3019581/Free%20Patch%20Lead%20Magnet/orange-circles-bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: repeat; }

footer .list {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 14px 15px 6px rgba(0, 0, 0, 0.2); }
  footer .list .item img {
    height: 33px;
    width: 38px !important; }
