<button class="px-2 w-full block mx-auto sm:mx-0 sm:px-16 sm:w-auto py-4 font-bold text-white uppercase rounded-full modal-show-form text-ricoma-sm hover:-translate-y-1 transform transition-all duration-200 {{classes}}">
  {{> content }}
</button>
