<div class="container flex items-center justify-between py-8 mx-auto mt-16 bg-white lg:mt-12">
  <div>
    <img src="https://f.hubspotusercontent30.net/hubfs/3019581/dtp_heatpress_landing_page/Ricoma%20Logo.svg" alt="">
  </div>
  <div class="text-ricoma-sm">
    Questions? Call <br class="md:hidden"><a href="tel:8882926282"><span class="font-bold">(888) 292-6282</span></a>
  </div>
</div>
