<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
  <!-- inject:hubspot_head -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- endinject -->
</head>

<body>
  {{> hbspt-form}}

  <!-- inject:hubspot_footer -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->
  <script src="https://kit.fontawesome.com/d68461432d.js" crossorigin="anonymous" defer></script>
</body>

</html>