<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Permanent+Marker&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="index.css">
  <!-- inject:hubspot_head -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- endinject -->
</head>

<!-- line 23 doesn't have the " end the class. rigth there I don't see the " -->
{{!-- go ahed and fix it for me, nope, that added an exta " --}}

<body>
  <div class="w-full flex-shrink-0 ">
    <div class="bg-white flex w-full px-4 md:px-12 py-4 justify-between items-center border-b" style="border-color: #E6E6E7">
        <div>
          <img src="https://cdn2.hubspot.net/hubfs/3019581/Referral%20Landing%20Page%202020/Ricoma%20Logo%20Gray.svg" alt="">
        </div>
        <div class="text-sm ">
          Questions? Call <br class="md:hidden"><span style="color: #f27d21">(888) 292-6282</span>
        </div>
    </div>
    <div class="bg-cover bg-center" style="background-image: url('https://cdn2.hubspot.net/hubfs/3019581/Referral%20Landing%20Page%202020/White%20Pattern%20BG.png');">
      <div class="container mx-auto flex-shrink-0 px-8">
        <div class="pt-5 text-center text-3xl sm:text-5xl font-extrabold tracking-normal">Thanks for your interest!</div>
        <div class="mt-2 text-center text-2xl font-bold tracking-normal">A Ricoma product specialist will be in contact with</div>
        <div class="text-center text-2xl font-bold tracking-normal">you to answer any questions you may have.</div>
        <div class="mt-4 mx-auto text-base text-center text-xl tracking-normal max-w-3xl">
          Meanwhile, check out our videos below featuring our premier single-head starter machine, the EM-1010 and our brand-new multi-head, the CHT2.
        </div>
        <div class="mt-6 md:grid md:grid-rows-1 md:grid-flow-col md:gap-6 mt-4 mx-auto  max-w-4xl">
          <div>
            <div class="text-base font-bold text-center my-4">
              Ricoma starter single-head: EM-1010
            </div>
            <div class="h-64">
              <iframe src='//videos.sproutvideo.com/embed/709adcb71b1ce4c2f8/9ea1701221b4743c' style='width:100%;height:100%;' frameborder='0' allowfullscreen></iframe>
            </div>
          </div>
          <div >
            <div class="text-base font-bold text-center my-4">
              New Ricoma multi-head: CHT2
            </div>
            <div class="h-64">
              <iframe src='https://videos.sproutvideo.com/embed/a09ad0ba1d1fe3c528/601d8b37961ddfe6' style='width:100%;height:100%;' frameborder='0' allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-11/12 mx-auto mt-10 border-solid border-t py-6" style="border-color: #E6E6E7">
        <a href="https://ricoma.com/US/terms-of-service" target="_blank" class="w-1/2 md:w-2/6 lg:w-1/6 lg:text-center text-left  text-sm leading-3 tracking-normal ">
             Terms of service
        </a>
        <a href="https://ricoma.com/US/privacy-policy" target="_blank" class="w-1/2 md:w-2/6 lg:w-1/6 text-right md:text-left text-sm leading-3 tracking-normal ">Privacy Policy</a>
        <div class="w-1/2 md:w-2/6 lg:w-2/6 hidden lg:block text-center text-sm leading-3 tracking-normal ">
          ©2020 Ricoma International Corporation 
        </div>
        <div class="w-1/2 md:w-2/6 lg:w-2/6 hidden md:block text-right text-sm leading-3 tracking-normal ">
          Questions? Call <a href="tel:8882926282"><span style="color: #f27d21">(888) 292-6282</span></a>
        </div>
      </div>
      <div class="w-full items-center md:hidden  ">
        <div class="w-100 lg:hidden text-center text-sm leading-3 tracking-normal ">Questions? Call <a href="tel:8882926282"><span style="color: #f27d21">(888) 292-6282</span></a></div>
      </div>
      <div class="w-full items-center lg:hidden py-6 ">
        <div class="w-100 lg:hidden text-center text-sm leading-3 tracking-normal ">©2020 Ricoma International Corporation </div>
      </div>
    </div>
  </div>

  <!-- inject:hubspot_footer -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->
  <script src="https://kit.fontawesome.com/d68461432d.js" crossorigin="anonymous" defer></script>
</body>

</html>


{{!-- <div class="hidden sm:block mt-auto p-8 w-full items-center">
    <div class="w-100 text-center tracking-normal ">©2020 Ricoma International Corporation </div>
  </div> --}}